@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  padding: 0px;
}

.header {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;

  .title {
    display: flex;
    flex-grow: 1;
    color: #009900;
    letter-spacing: 6px;
    text-indent: 6px;
  }
}

.footer {
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .title {
    width: 100%;
    margin: 0px;
    text-align: center;
  }

  .subtitle {
    width: 100%;
    margin: 0px;
    text-align: center;
  }

}

// Results page
.results {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// Search inputs
.search {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;

  .inputs {
    display: flex;
    justify-content: space-around;
    width: 75%;

    .itemInput {

      .dropdown-menu {
        display: flex;
        width: 100%;
      }
    }
  }
}

.link {
  &:hover{
    color: transparent;
  }
}
